body {
  font-family: sans-serif;
}

.product {
  list-style-type: none;
  padding: 0;
}

.product-name {
  font-weight: bold;
  font-size: 18px;
}

.product-description {
  font-family: cursive;
  /* font-style: italic; */
}

.product-price {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
